---
import Layout from '../../../../layouts/Static.astro';
import AboutHeroImage from '../../../../assets/blog-placeholder-about.jpg';
import { AstroError } from 'astro/errors';
import { getEntry, render } from 'astro:content';
import { getAllTranslatedPaths } from '../../../../i18n/utils';
import type { Lang } from '../../../../i18n/config';

export function getStaticPaths() {
	const params = getAllTranslatedPaths(['deep','deeper', 'nested'])	
  	return params;
}

const { deep, deeper, nested } = Astro.params;
const lang = Astro.currentLocale as Lang;

const entry = await getEntry('nested', lang);

if (!entry) {
  throw new AstroError(`No nested content for lang=${lang}`);
}

const { Content } = await render(entry);
---
<Layout
	title={entry.data.title}
	description="Lorem ipsum dolor sit amet"
	heroImage={AboutHeroImage}
>
	<p>
		Lang: {lang} <br />
		Deep: {deep} <br/>	
        Deeper: {deeper} <br/>		
		Nested: {nested}
	</p>	
	<Content />
</Layout>