---
import { Image } from 'astro:assets';
import DefaultSection from './DefaultSection.astro';
import type { Lang } from '../../i18n/config';
import { getTranslatedUrlFragment } from '../../i18n/utils';

const { data, isLast, isEven } = Astro.props;
const lang = Astro.currentLocale as Lang;
const id = getTranslatedUrlFragment(lang, data.type);


---
<section id={id}>
	{ data.banner && 
		<div class="image">
			<Image src={data.banner.src} alt={data.banner.alt || "Banner Image"} />
		</div>
	}
	<DefaultSection data={data} withoutId={true} isLast={isLast} isEven={isEven}><slot /></DefaultSection>	
</section>	
		