---
import type { Lang } from "../../i18n/config";
import { useTranslations } from "../../i18n/utils";
import BasicSection from "../../layouts/BasicSection.astro";
import MapIframe from "../MapIframe.astro";

const { data, isLast, isEven } = Astro.props;
const lang = Astro.currentLocale as Lang;
const t = useTranslations(lang);

type dayType = {
    name: string;
    routes: routesType[]
};

type routesType = {
    name?: string;
    map?: string;
    link?: string;
    gpx?: string;
}
---

<BasicSection sectionType={data.type} isLast={isLast}>
    <h2 class="text-center">{t('section.' + data.type)}</h2>
    <div>        
        <slot />
    </div>
    {data.days && data.days.map((day: dayType) =>(
        <h3>{day.name}:</h3>      
        <div>
            {day.routes.map((route: routesType) => (
             <div>
                {route.name && <h4>{route.name}:</h4>}  
                {route.map && <MapIframe url={route.map} />} 
                {route.link && <a href={route.link} target="_blank">{route.link}</a>}
                {route.gpx && <a href={route.gpx} download={route.gpx.split("/").pop()}>{t('sectionsFragments.getGpxFile')}</a>}
            </div>  
         ))}     
        </div>
    ))} 
</BasicSection>